body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url("2 -  trending on artstation Jesus gives sight to t.png");
    display: flex;
    color: azure;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.image-container {
    flex: 0 0 33%;
    background-image: url('techNutt3.png'); /* Replace 'your-main-image.jpg' with your image path */
    background-size: cover;
    background-position: center;
}

.form-container {
    flex: 1;
    display: flex;
    opacity: 0.8;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

